@import "../../parts/settings";

.lively-video-grid {
  margin-bottom: 2rem;

  .video-grid-items {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    &.columns-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      @include breakpoint($xsmall) {
        grid-template-columns: minmax(0, 1fr);
      }
    }

    &.columns-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));

      @include breakpoint($small) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include breakpoint($xsmall) {
        grid-template-columns: minmax(0, 1fr);
      }
    }

    &.columns-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));

      @include breakpoint($small) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include breakpoint($xsmall) {
        grid-template-columns: minmax(0, 1fr);
      }
    }

    &.columns-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));

      @include breakpoint($small) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include breakpoint($xsmall) {
        grid-template-columns: minmax(0, 1fr);
      }
    }

    figcaption {
      text-align: center;
    }

    &.hero-video figcaption {
      width: 0;
      height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      text-indent: -9999rem;
    }

    .video-grid-item {
      a {
        span.video-thumbnail {
          display: block;
          position: relative;
          width: 100%;
          max-width: 100%;
          height: 0;
          padding-top: 56.25%;
          overflow: hidden;

          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }

          &:after {
            content: " ";
            background: rgba(0, 45, 97, 0) url("../../../../assets/images/play-symbol-transparent-min.svg") no-repeat center center;
            background-size: 45%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 100%;
            height: 0;
            padding-top: 56.25%;
            opacity: .6;
          }
        }

        &:hover,
        &:focus {
          span.video-thumbnail {
            &:after {
              background-color: rgba(0, 45, 97, .5);
              opacity: .8;
            }
          }
        }
      }

      &.disabled {
        span.video-thumbnail {
          display: block;
          position: relative;
          width: 100%;
          max-width: 100%;
          height: 0;
          padding-top: 56.25%;
          overflow: hidden;

          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }

          &:after {
            color: $white;
            position: absolute;
            content: "Coming Soon";
            background: rgba(0,45,97, 0.6);
            font-size: 200%;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 20%;
            text-align: center;
            font-family: MuseoSlab, serif;
            transform: none;
            opacity: 1;

            @include breakpoint($large) {
              font-size: 100%;
            }
          }
        }
      }
    }
  }
}