:root {
  --gutter: 10px;
}

.entry-content {
  .main-video {
    .video-embed {
      background: black;
      margin: 0 auto 1rem;

      .plyr {
        margin: 0 auto;
      }
    }

    &.portrait {
      .video-embed .plyr {
        max-width: 500px;

        @include breakpoint($medium) {
          max-width: 100%;
        }
      }
    }

  }

  ul.episode-list {
    padding: 0;
    display: flex;
    list-style: none;
    position: relative;
    align-items: start;
    align-content: stretch;
    justify-content: stretch;
    justify-items: stretch;
    column-gap: 2rem;
    margin: 0 0 2rem 0;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;

    &::-webkit-scrollbar {
      height: 2px;
      background: #333;
    }

    &::-webkit-scrollbar-thumb {
      background: #0067A2;
      border: 1px solid #eee;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    }

    .episode-embed {
      width: 100%;
    }

    .episode {
      flex: 1;
      margin: 2rem 0;
      min-width: 315px;

      scroll-snap-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1.video-title {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 10px;
        text-transform: none;
        color: #fff;
      }
    }
  }
}