.lively-nav-container {
  width: 100%;
  background: $umwblue;
  position: relative;
  z-index: 100;

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    column-gap: 1rem;

    .menu-item {
      flex: 1 2;
      flex-basis: content;
      text-transform: uppercase;

      &.root {
        flex-basis: 200px;
        align-self: end;

        a {
          text-indent: -9999rem;
          background-image: url("../../assets/images/Lively_Logo.svg");
          background-repeat: no-repeat;
          background-size: contain;
          padding-bottom: 3rem;
          margin-bottom: -3rem;
        }
      }

      a {
        padding: 1rem;
        color: #fff;
        display: block;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      &.current-menu-item a {
        color: $lightblue;
      }

      @include breakpoint($xlarge) {
        flex-basis: min-content;
      }
    }

    @include breakpoint($large) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .menu-item {
        &.root {
          grid-column-start: 1;
          grid-column-end: 2;

          a {
            margin-bottom: 0;
          }
        }
      }
    }

    @include breakpoint($medium) {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      .menu-item {
        &.root {
          grid-column-start: 1;
          grid-column-end: span 2;

          a {
            background-position: center;
          }
        }
      }
    }

    @include breakpoint($xsmall) {
      grid-template-columns: minmax(0, 1fr);

      .menu-item {
        text-align: center;

        &.root {
          grid-column-start: 1;
          grid-column-end: 1;

          a {
            background-position: center;
          }
        }

        a {
          margin: 0 auto;
        }
      }
    }
  }

  .menu-item-has-children {
    .sub-menu {
      background: $umwblue;
      position: absolute;
      left: -9999em;
    }

    &:hover,
    &:focus {
      .sub-menu {
        left: auto;
      }
    }
  }
}
