$umwblue: rgb(0, 45, 97);
$lightblue: #91c7ec;
$white: white;

$xsmall: 400px;
$small: 500px;
$medium: 600px;
$large: 800px;
$xlarge: 1024px;

@mixin breakpoint($size) {
  @media all and (max-width: $size) {
    @content;
  }
}

/*:root {
  --plyr-font-size-base: 10px;
  --plyr-font-size-small: 8px;
  --plyr-font-size-large: 11px;
  --plyr-font-size-xlarge: 14px;
}*/

