@import 'plyr';
@import "parts/settings";

.site-inner {
  background: $umwblue;
}

.content {
  background: transparent;

  a {
    color: $white;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.entry-header h1 {
  color: $lightblue;
  font-family: MuseoSans, "museo-sans", Helvetica, Arial, Tahoma, sans-serif;
  margin-top: 4rem;
  text-transform: uppercase;
}

div.entry-content {
  color: $white;

  a {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  h1, h2, h3 {
    font-family: MuseoSans, "museo-sans", Helvetica, Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    color: $lightblue;
    font-weight: 500;
  }

  figcaption {
    font-family: MuseoSans, "museo-sans", Helvetica, Arial, Tahoma, sans-serif;
    font-weight: normal;
  }

  .video-embed {
    span.video-thumbnail {
      display: block;
      position: relative;
      width: 100%;
      max-width: 100%;
      height: 0;
      padding-top: 56.25%;
      margin-bottom: 1rem;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }

      &:after {
        content: " ";
        background: rgba(0, 45, 97, 0) url("../../assets/images/play-symbol-transparent-min.svg") no-repeat center center;
        background-size: 45%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        opacity: .6;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;

      span.video-thumbnail {
        &:after {
          background-color: rgba(0, 45, 97, .5);
          opacity: .8;
        }
      }
    }

    &.disabled {
      span.video-thumbnail {
        &:after {
          content: "Coming Soon";
          background: rgba(0,45,97, 0.6);
          font-size: 200%;
          height: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding-top: 20%;
          text-align: center;
          font-family: MuseoSlab, serif;
          transform: none;
          opacity: 1;

          @include breakpoint($large) {
            font-size: 100%;
          }
        }
      }

      &:hover,
      &:focus {
        cursor: initial;

        span.video-thumbnail {
          &:after {
            background: rgba(0,45,97, 0.6);
            opacity: 1;
          }
        }
      }
    }

    .video-container {
      display: none;

      position: relative;
      overflow: hidden;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }

  .creator-list {
    margin-bottom: 2rem;
  }
}

@import "parts/lively_nav";
@import "parts/episodes";