.bio-items {
  display: grid;
  grid-template-columns: minmax(0,1fr);
  row-gap: 3rem;

  .bio-item {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,4fr);
    column-gap: 1rem;
    justify-items: stretch;
    align-items: start;
    justify-content: start;

    img {
      width: 100%;
      height: auto;
    }

    p {
      margin-bottom: 0;
    }
  }
}